<!--매력 페이지-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_yun.css">
    <title>Mission Book</title>

</head>
<body>
    <!-- 상단바 (네비게이션) -->
        <header>
            <a href="index.html"><img src="../image/misson_click.png" alt="미션아이콘" width="25px" height="25px"/></a>
            <a href="mypage.html"><img src="../image/info.png" alt="정보아이콘" width="25px" height="25px"/></a>
            <a href="setup.html"><img src="../image/setup.png" alt="설정아이콘" width="25px" height="25px"/></a>
    
        </header>

    <!--사용자 정보 -->
    <section class="hd">
        <div class="container">
            <div>
                <a class="name">정혜선</ㅁ>
                <a class="level">Lv.7</a>
            </div>
            <div>
                <p class="personal explanation">민트초코파 </p>
            </div>
    
            
        </div>
    </section>

    <!--미션 탭 -->
    <div class="mission-tab">
        <div class="mis-btn"> 
            <a href="index.html"><img src="../image/study.png" alt="학업아이콘"/></a> 
        </div>
        <div class="mis-btn"> 
            <a href="gettingpage.html"><img src="../image/getting.png" alt="사교아이콘" /></a>
        </div>
        
        <div class="mis-btn"> 
            <a href="#"><img src="../image/experience.png" alt="경험아이콘" /></a>
        </div>

        
    </div>

    

    <div class="missions">
        <p class="msg"><span style:bold;>학업</span>에 관련된 미션을 해결하세요 </p>
        <div>
            <div class="mission1">3과목 A+ 받기</div>
            <div class="mission2">책 1권 읽고 독후감 쓰기</div>
            <div class="mission3">책 40권 읽기</div>
            <div class="mission4">토익 200점 넘기</div>
            <div class="mission5">과제 끝내기</div>
            <div class="mission6">조기졸업 하기</div>
        </div>
    </div>

</body>
</html>