<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_yun.css' %}">
    <title>Mission Book</title>

</head>
<body>
    <!-- 상단바 (네비게이션) -->
        <header>
            <a href="{% url 'index_null' %}"><img src="{% static 'misson_click.png' %}" alt="미션아이콘" width="25px" height="25px"/></a>
            <a href="{% url 'mypage' %}"><img src="{% static 'info.png' %}" alt="정보아이콘" width="25px" height="25px"/></a>
            <a href="{% url 'setup' %}"><img src="{% static 'setup.png' %}" alt="설정아이콘" width="25px" height="25px"/></a>
    
        </header>

    <!--사용자 정보 -->
    <section class="hd">
        <div class="container">
            <div>
                <a class="name">{{user.name}}</ㅁ>
                <a class="level">Lv.{{ user.total_exp|add:0 }}</a>
            </div>
            <div>
                <p class="personal explanation">{% if user.title %}{{user.title}}{% else %} 칭호없음 {% endif %}</p>
            </div>
    
            
        </div>
    </section>

    <!--미션 탭 -->
    <div class="mission-tab">
        <div class="mis-btn">
            <a href="{% url 'index' 1 %}"><img src="{% static 'study.png' %}" alt="학업아이콘"/></a>
        </div>
        <div class="mis-btn">
            <a href="{% url 'index' 2 %}"><img src="{% static 'getting.png' %}" alt="사교아이콘" /></a>
        </div>

        <div class="mis-btn">
            <a href="{% url 'index' 3 %}"><img src="{% static 'experience.png' %}" alt="경험아이콘" /></a>
        </div>
    </div>


    <div class="missions">
        <p class="msg"><span style:bold;>학업</span>에 관련된 미션을 해결하세요 </p>
        <div>
            {% for some_mission in some_missionlist_pro %}
                <div class="mission1">{{ some_mission.checklist.title }}</div>
            {% endfor %}
            {% for some_mission in some_missionlist_pre %}
                <div class="mission2">{{ some_mission.checklist.title }}</div>
            {% endfor %}

        </div>
    </div>

</body>
</html>