
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for="{{ form.user_id.id_for_label }}">ID:</label><!-- 라벨 -->
        {{ form.user_id }}<!-- 입력폼 -->
        {{ form.user_id.errors.0 }}<!-- 에러메세지 -->
    </div>
    <div>
        <label for="{{ form.name.id_for_label }}">이름:</label>
        {{ form.name }}
        {{ form.name.errors.0 }}
    </div>
    <div>
        <label for="{{ form.password1.id_for_label }}">비밀번호:</label>
        {{ form.password1 }}
        {{ form.password1.errors.0 }}
    </div>
    <div>
        <label for="{{ form.password2.id_for_label }}">비밀번호 확인:</label>
        {{ form.password2 }}
        {{ form.password2.errors.0 }}
    </div>


    <button type="submit">회원가입</button>
</form>

<a href="{% url 'login' %}">로그인화면으로</a>